@charset "utf-8";

/* ====================
common
===================== */

img {
  max-width: 100%;
  height: auto;
}

.inner {
  max-width: 900px;
  width: 94%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.is-align-center {
  align-items: center;
}

.section {
  margin-bottom: 130px;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  margin: 70px 0 100px;
  border-bottom: 1px solid #333;
  display: inline-block;
  padding-bottom: 10px;
}

.text-align {
  text-align: center;
}

.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: transform 1.5s, opacity 1s;
}

.animate.delay-one {
  transition-delay: 0.2s;
}

.animate.delay-two {
  transition-delay: 0.5s;
}

.animate.delay-three {
  transition-delay: 0.8s;
}

.animate.appear {
  opacity: 1;
  transform: none;
}

#to-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  font-size: 32px;
  color: #22577a;
  opacity: 0;
  transition: opacity 0.3s;
}

#to-top.scrolled {
  opacity: 1;
}

.hidden {
  display: none;
}

/* ====================
header
===================== */

.header {
  padding: 25px 0;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color .3s, box-shadow .3s;
  z-index: 1;
}

.header.scrolled {
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 28px;
  margin-right: auto;
  font-weight: bold;
  color: #333;
}

.header nav ul {
  display: flex;
  font-weight: bold;
}

.header nav li {
  cursor: pointer;
  transition: .5s;
}

.header nav li:hover {
  opacity: .5;
}

.header nav li+li {
  margin-left: 20px;
}

.sp-menu #open {
  font-size: 32px;
  cursor: pointer;
  margin-right: 10px;
  display: none;
}

/* ====================
overlay
===================== */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;
  z-index: 2;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}


.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .8s, transform .8s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

/* ====================
mv
===================== */
.mv {
  padding-top: 85px;
}

.carousel {
  width: 80%;
  margin: 0 auto;
}

.carousel nav {
  text-align: center;
  margin-top: 16px;
}

nav button {
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
}

nav button+button {
  margin-left: 8px;
}

nav .current {
  background-color: #999;
}

.mv img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.pic-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.pic-container ul {
  display: flex;
  transition: transform 0.3s;
}

.pic-container li {
  min-width: 100%;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  font-size: 24px;
  padding: 0 8px 4px;
  cursor: pointer;
}

#prev:hover,
#next:hover {
  opacity: 0.7;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

/* ====================
Works
===================== */

.works-title {
  background-color: black;
  color: #fff;
  font-size: 25px;
  width: 150px;
  text-align: center;
  padding: 10px 0;
  line-height: 2;
  border-radius: 8px;
}

.lineup-body {
  margin-top: 60px;
  justify-content: space-between;
}

.lineup-list {
  width: 30%;
}

.lineup-list h3 {
  margin: 30px 0;
}

.lineup-list p {
  margin-bottom: 40px;
  line-height: 1.5rem;
}

.lineup-list a {
  display: inline-block;
  border: 1px solid #c8c8c8;
  width: 200px;
  padding: 15px 0;
  background-color: rgba(0, 16, 27, 0.8);
  color: #fff;
  transition: .5s;
}

.lineup-list a:hover {
  opacity: .7;
}

/* ====================
Profile
===================== */

.profile-image img {
  border: 1px solid #333;
  max-width: 250px;
}

.profile-content {
  margin-left: 80px;
}

.my-name {
  font-size: 25px;
  margin-bottom: 30px;
}

.profile-content dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
}

.profile-content dt {
  margin-bottom: 15px;
  width: 30%;
  font-weight: normal;
  line-height: 1.5;
}

.profile-content dd {
  margin-bottom: 15px;
  width: 70%;
  font-weight: normal;
  line-height: 1.5;
}

.profile-content dd:last-child {
  line-height: 1.5rem;
}

/* ====================
Contact
===================== */
#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#contact dt {
  width: 20%;
  font-weight: normal;
}

#contact dd {
  width: 80%;
  margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
  border: 1px solid #c8c8c8;
  width: 100%;
  padding: 10px;
}

#contact dd textarea {
  height: 10rem;
}

#contact .button {
  text-align: center;
}

#contact .button input {
  border: 1px solid #c8c8c8;
  width: 200px;
  padding: 15px 0;
  background-color: rgba(0, 16, 27, 0.8);
  color: #fff;
  transition: .5s;
}

#contact .button input:hover {
  opacity: .7;
}

/* footer */
#footer {
  text-align: center;
  background-color: rgba(0, 16, 27, 0.8);
  color: #fff;
  height: 200px;
  line-height: 200px;
}

/* ====================
SP
===================== */
@media screen and (max-width: 768px) {

  /* common */
  .section {
    margin-bottom: 40px;
  }

  /* header */
  .header nav {
    display: none;
  }

  .logo {
    margin: 0 auto;
  }

  .sp-menu #open {
    display: block;
  }

  /* works */

  #works .works-title {
    margin: 0 auto;
  }

  .lineup-list a {
    width: 50%;
  }

  .lineup-body {
    display: block;
  }

  .lineup-list {
    width: 100%;
  }

  .lineup-list p {
    max-width: 300px;
    margin: 0 auto 30px;
    font-size: 0.9rem;
  }

  .lineup-list img {
    width: 400px;
  }

  .lineup-list+.lineup-list {
    margin-top: 64px;
  }

  /* profile */

  .profile-body {
    display: block;
  }

  .profile-image {
    text-align: center;
    margin-bottom: 60px;
  }

  .profile-content {
    margin: 0;
  }

  .profile-content p {
    text-align: center;
  }

  .profile-content dl {
    display: block;
    margin-top: 50px;
  }

  .profile-content dt {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }

  .profile-content dd {
    width: 100%;
    font-weight: normal;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1rem;
  }

  /* contact */
  #contact dl {
    display: block;
  }

  #contact dt {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }

  #contact dd {
    width: 100%;
    margin-bottom: 30px;
  }
}